.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  overflow-y: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal__inner {
  max-width: 75%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}

.modal__body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
